{% extends "index.twig" %}

{% block content %}

	<section class="news-section section">
		<div class="container">
			<div class="row">
				<div class="col-12 mb-3 text-center">
					<h2 class="text-uppercase text-white">Novidades</h2>
					<p class="mb-0 text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe libero
												                    voluptatem.</p>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-12 mb-3">
					<nav class="pd-navigation tabs-index">
						<ul class="nav">
							<li>
								<a href="{{site.url}}/news">Todas
																		                                  publicações</a>
							</li>
							<li>
								<a href="{{site.url}}/news/update">Atualizações</a>
							</li>
							<li>
								<a href="{{site.url}}/news/event">Eventos</a>
							</li>
							<li>
								<a href="{{site.url}}/news/activity">Atividades</a>
							</li>
							<li>
								<a href="{{site.url}}/news/banner">Banners</a>
							</li>
						</ul>
					</nav>
				</div>
				{% for post in posts %}
					<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex mb-4">
						<article class="post-card d-flex mx-auto post-card-animation post-card-border-animation" onclick="window.location.href = '{{ post.post_link }}'">
							<div class="post-card-image-link">
								<img src="{{ post.post_img }}" class="post-card-image">
							</div>
							<div class="post-card-content">
								<div class="post-card-content-link">
									<header class="post-card-header">
										<span class="post-card-tags">
											{% for category in post.post_category %}
												{{category.name}}
											{% endfor %}
										</span>
										<h2 class="post-card-title">{{ post.post_title }}</h2>
									</header>
									<section class="post-card-excerpt">
										<p>{{ post.post_desc }}</p>
									</section>
								</div>
								<footer class="post-card-meta">
									<ul class="author-list">
										<li class="author-list-item">
											<a href="#" class="static-avatar">
												<img class="author-profile-image" src="{{ post.post_author_avatar }}" alt="{{ post.post_author_name }}">
											</a>
										</li>
									</ul>
									<span class="reading-time">{{ post.post_date }}</span>
								</footer>
							</div>
						</article>
					</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="tool-pagination">
					{% if posts.pagination.prev %}
						<a href="{{posts.pagination.prev.link}}" class="prev {{posts.pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
					{% endif %}
					<ul class="pages">
						{% for page in posts.pagination.pages %}
							<li>
								{% if page.link %}
									<a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
								{% else %}
									<span class="{{page.class}}">{{page.title}}</span>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
					{% if posts.pagination.next %}
						<a href="{{posts.pagination.next.link}}" class="next {{posts.pagination.next.link|length ? '' : 'invisible'}}">Next</a>
					{% endif %}
				</div>
			</div>
		</div>
	</section>

{% endblock %}
