{% extends "index.twig" %}

{% block content %}
	<section class="news-section section">
		<div class="container">
			<div class="row">
				<div class="col-12 mb-3 text-center">
					<h2 class="text-uppercase text-white">Novidades</h2>
					<p class="mb-0 text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe libero voluptatem.</p>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-12 mb-3">
					<nav class="pd-navigation tabs-index">
						<ul class="nav">
							<li>
								<a href="{{site.url}}/news">Todas publicações</a>
							</li>
							<li>
								<a href="{{site.url}}/news/update">Atualizações</a>
							</li>
							<li>
								<a href="{{site.url}}/news/event">Eventos</a>
							</li>
							<li>
								<a href="{{site.url}}/news/activity">Atividades</a>
							</li>
							<li>
								<a href="{{site.url}}/news/banner">Banners</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-12 mb-3">
					<h2 class="text-uppercase text-left text-white">#{{categorypage}}
					</h2>
				</div>
				{% for post in posts %}
					{% if post.current is not defined %}
						<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex mb-4">
							<article class="post-card d-flex mx-auto post-card-animation post-card-border-animation">
								<a class="post-card-image-link" href="{{ post.post_link }}">
									<img src="{{ post.post_img }}" class="post-card-image">
								</a>
								<div class="post-card-content">
									<a class="post-card-content-link" href="{{ post.post_link }}">
										<header class="post-card-header">
											<span class="post-card-tags">
												{% for category in post.post_category %}
													{{category.name}}
												{% endfor %}
											</span>
											<h2 class="post-card-title">{{ post.post_title }}</h2>
										</header>
										<section class="post-card-excerpt">
											<p>{{ post.post_desc }}</p>
										</section>
									</a>
									<footer class="post-card-meta">
										<ul class="author-list">
											<li class="author-list-item">
												<a href="{{post.post_author_link}}" class="static-avatar">
													<img class="author-profile-image" src="{{ post.post_author_avatar }}" alt="{{ post.post_author_name }}">
												</a>
											</li>
										</ul>
										<span class="reading-time">{{ post.post_date }}</span>
									</footer>
								</div>
							</article>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			{% if posts.pagination.total > 1 %}
				<div class="row justify-content-center">
					<nav>
						<div class="pagination-container wow zoomIn mar-b-1x" data-wow-duration="0.5s">
							<ul class="pagination">
								{% if posts.pagination.prev %}
									<li class="pagination-item--wide first m-auto">
										<a class="pagination-link--wide first" href="{{posts.pagination.prev.link}}">
											<i class="fas fa-chevron-left"></i>
										</a>
									</li>
								{% endif %}
								{% for page in posts.pagination.pages %}
									<li class="pagination-item {% if page.title == 1 %}first-number{% endif %}{% if page.current == 1 %} is-active{% endif %}">
										<a class="pagination-link" href="{{page.link}}">{{page.title}}</a>
									</li>
								{% endfor %}
								{% if posts.pagination.next %}
									<li class="pagination-item--wide last m-auto">
										<a class="pagination-link--wide last" href="{{posts.pagination.next.link}}">
											<i class="fas fa-chevron-right"></i>
										</a>
									</li>
								{% endif %}
							</ul>
						</div>
					</nav>
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
