{% extends "base.twig" %}

{% block content %}
	<section>
		<div class="content-wrapper">
			<article class="post-page-full">
				<header class="post-full-header">
					<div class="post-full-meta">
						<time class="post-full-meta-date" datetime="{{post.post_date_gmt}}">{{ post.date }}</time>
						<span class="date-divider">/</span>
						{% for cat in cats %}
							<a href="{{site.url}}/news/{{cat.slug}}" class="post-tag">{{cat.name}}</a>
						{% endfor %}
					</div>
					<h1 class="post-full-title">{{post.title}}</h1>
				</header>
				<div class="pd-post-body">
					<div class="post-full-content">
						<div class="post-img">
							<img src="{{post.thumbnail.src}}" class="img-fluid">
						</div>
						<div class="post-content">
							{{post.content}}
						</div>
					</div>
					<footer class="post-full-footer">
						<div class="content">
							<section class="author-card">
								<img class="author-profile-image" src="{{post.author.avatar}}" alt="{{post.author.name}}">
								<div class="author-card-content">
									<h4 class="author-card-name">
										<span>{{post.author.name}}</span>
									</h4>
									<p>
										{% for role in post.author.roles %}
											{{role}}
										{% endfor %}
									</p>
								</div>
							</section>
						</div>
					</footer>
				</div>
			</article>
		</div>
	</section>
{% endblock %}
